<ion-header>
  <ion-navbar>
    <ion-title>Autosizing Textarea</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
    <ion-textarea rows="1" name="text" [(ngModel)]="text" autosize></ion-textarea>
  </ion-item>
  </ion-toolbar>
</ion-footer>